<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
	<meta charset="UTF-8">
	<title>&#8211; کی‌بان | Keybaan</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/base.css' %}" type="text/css" media="all">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/base-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/el-list-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/el-section-title-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/footer-base-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/header-base-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/int-wpbakery-base-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/style-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/int-wpcf7-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/js_composer.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/mod-notices-fixed-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/mod-tools-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/opt-scrolltotop-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/template.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/widget-nav-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/widget-wd-recent-posts-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/woo-widget-active-filters-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/woo-widget-product-list-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/woo-widget-slider-price-filter-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/woo-widget-wd-layered-nav-product-cat-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/wpcf.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/wp-gutenberg-rtl.min.css' %}">
	<link rel="stylesheet" type="text/css" media="all" href="{% static  'css/xts-theme_settings_default-1641382769.css' %}">
	<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/device.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mobileNavigation.min.js' %}"></script>
	<meta name='robots' content='noindex, nofollow' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="icon" href="{% static 'images/favicon-s.png' %}" sizes="32x32" />
	<link rel="apple-touch-icon" href="{% static 'images/favicon-s.png' %}" />
	<meta name="msapplication-TileImage" content="{% static 'images/favicon-s.png' %}" />
</head>

<body
	class="rtl home page-template-default page page-id-5283 wrapper-full-width  categories-accordion-on woodmart-ajax-shop-on offcanvas-sidebar-mobile offcanvas-sidebar-tablet notifications-sticky wd-header-overlap wpb-js-composer js-comp-ver-6.8.0 vc_responsive">

	<div class="website-wrapper">

		<header class="whb-header whb-overcontent whb-sticky-shadow whb-scroll-stick whb-sticky-real">

			<div class="whb-main-header">

				<div class="whb-row whb-general-header whb-sticky-row whb-without-bg whb-without-border  whb-flex-flex-middle">
					<div class="container">
						<div class="whb-flex-row whb-general-header-inner">
							<div class="whb-column whb-col-left whb-visible-lg">
								<div class="site-logo">
									<a href="{% url 'home:index' %}" class="wd-logo wd-main-logo" rel="home">
										<img src="{% static '\images\logo.png' %}" alt="کی‌بان | Keybaan" style="max-width: 210px;" />
									</a>
								</div>
							</div>
							<div class="whb-column whb-col-center whb-visible-lg">
								<div class="wd-header-nav wd-header-main-nav text-center" role="navigation">
									<ul id="menu-%d9%81%d9%87%d8%b1%d8%b3%d8%aa" class="menu wd-nav wd-nav-main wd-style-default">
										<li id="menu-item-5294" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5294 item-level-0 menu-simple-dropdown wd-event-hover onepage-link"><a href="{% url 'home:index' %}" class="woodmart-nav-link"><span
													class="nav-link-text">خانه</span></a></li>
										<li id="menu-item-15670" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15670 item-level-0 menu-item-design-default menu-simple-dropdown wd-event-hover"><a href="#"
												class="woodmart-nav-link"><span class="nav-link-text">صنایع</span></a>
											<div class=" wd-dropdown sub-menu-dropdown">
												<div class="container">
													<ul class="wd-sub-menu sub-menu">
														<li><a href="{% url 'home:advertisement' %}" class="woodmart-nav-link">تبلیغات</a></li>
														<li><a href="{% url 'home:FandB' %}" class="woodmart-nav-link">هتل و رستوران</a></li>
														<li><a href="{% url 'home:construction' %}" class="woodmart-nav-link">ساختمان</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li id="menu-item-5292" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5292 item-level-0 menu-simple-dropdown wd-event-hover onepage-link"><a href="{% url 'home:services' %}"
												class="woodmart-nav-link"><span class="nav-link-text">سرویس‌ها</span></a></li>
										<li id="menu-item-5293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5293 item-level-0 menu-simple-dropdown wd-event-hover onepage-link"><a href="{% url 'home:faq' %}" class="woodmart-nav-link"><span
													class="nav-link-text">سوالات متداول</span></a></li>
										<li id="menu-item-5293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5293 item-level-0 menu-simple-dropdown wd-event-hover onepage-link"><a href="{% url 'home:contact' %}"
												class="woodmart-nav-link"><span class="nav-link-text">تماس با ما</span></a></li>
										<li id="menu-item-5293" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5293 item-level-0 menu-simple-dropdown wd-event-hover onepage-link"><a href="{% url 'home:about' %}" class="woodmart-nav-link"><span
													class="nav-link-text">درباره ما</span></a></li>
									</ul>
								</div>
								<!--END MAIN-NAV-->
							</div>
							<div class="whb-column whb-col-right whb-visible-lg">
								<div id="wd-629b1a115b5ee" class="wd-button-wrapper text-">
									<a href="{% url 'dashboard:panel' %}" title="" class="loginbtn btn btn-scheme-light btn-scheme-hover-light btn-style-round btn-shape-rectangle btn-size-default">داشبورد کاربری</a>
								</div>
							</div>
							<div class="whb-column whb-mobile-left whb-hidden-lg">
								<div class="menunav wd-tools-element wd-header-mobile-nav wd-style-text">
									<a href="#" rel="nofollow">
										<style>
											.bar1,
											.bar2,
											.bar3 {
												width: 35px;
												height: 5px;
												background-color: #D88181;
												margin: 6px 0;
												transition: 0.4s;
											}

											.change .bar1 {
												-webkit-transform: rotate(-45deg) translate(-9px, 6px);
												transform: rotate(-45deg) translate(-9px, 6px);
											}

											.change .bar2 {
												opacity: 0;
											}

											.change .bar3 {
												-webkit-transform: rotate(45deg) translate(-8px, -8px);
												transform: rotate(45deg) translate(-8px, -8px);
											}


											.topnav {
												overflow: hidden;
												background-color: #333;
												position: relative;
											}

											#myLinks {
												display: none;
											}
										</style>

										<div class=" container" onclick="myFunction(this)">
											<div class="bar1"></div>
											<div class="bar2"></div>
											<div class="bar3"></div>
										</div>
										<div class="wd-close-side"></div>
										<div id="myLinks">
											<div class="mobile-nav wd-side-hidden wd-left wd-opened">
												<ul id="menu-%d9%81%d9%87%d8%b1%d8%b3%d8%aa-1" class="mobile-pages-menu wd-nav wd-nav-mobile wd-active">
													<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5294 item-level-0 onepage-link"><a href="#" class="woodmart-nav-link"><span class="nav-link-text"></span></a></li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5294 item-level-0 onepage-link"><a href="{% url 'home:index' %}" class="woodmart-nav-link"><span class="nav-link-text">خانه</span></a></li>
													<li id="menu-item-16062" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16062 item-level-0"><a href="#" class="woodmart-nav-link"><span class="nav-link-text">صنایع</span></a>
														<ul>
															<li id="menu-item-16063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16063 item-level-1"><a href="{% url 'home:advertisement' %}" class="woodmart-nav-link">تبلیغات</a></li>
															<li id="menu-item-16066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16066 item-level-1"><a href="{% url 'home:FandB' %}" class="woodmart-nav-link">هتل و رستوران</a></li>
															<li id="menu-item-16064" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16064 item-level-1"><a href="{% url 'home:construction' %}" class="woodmart-nav-link">ساختمان</a></li>
														</ul>
														<span class="wd-nav-opener"></span>
													</li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5292 item-level-0 onepage-link"><a href="{% url 'home:services' %}" class="woodmart-nav-link"><span class="nav-link-text">سرویس‌ها</span></a></li>

													<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5293 item-level-0 onepage-link"><a href="{% url 'home:faq' %}" class="woodmart-nav-link"><span class="nav-link-text">سوالات متداول</span></a></li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5293 item-level-0 onepage-link"><a href="{% url 'home:contact' %}" class="woodmart-nav-link"><span class="nav-link-text">تماس با ما</span></a></li>
													<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5293 item-level-0 onepage-link"><a href="{% url 'home:about' %}" class="woodmart-nav-link"><span class="nav-link-text">درباره ما</span></a></li>
												</ul>
											</div>
										</div>
										<script>
											function myFunction(x) {
												x.classList.toggle("change");
												var y = document.getElementById("myLinks");
												var z = document.getElementsByClassName("wd-close-side");
												if (y.style.display === "block") {
													y.style.display = "none";
													z.style.visibility = "hidden";
												} else {
													y.style.display = "block";
													z.style.visibility = "visible";
												}
											}
										</script>
									</a>
								</div>
								<!--END wd-header-mobile-nav-->
							</div>
							<div class="whb-column whb-mobile-center whb-hidden-lg">
								<div class="site-logo">
									<a href="{% url 'home:index' %}" class="wd-logo wd-main-logo" rel="home">
										<img src="{% static '\images\logo.png' %}" alt="کی‌بان | Keybaan" style="max-width: 40px;" /> </a>
								</div>
							</div>
							<div class="whb-column whb-mobile-right whb-hidden-lg">
								<div id="wd-629b1a115bfa5" class="wd-button-wrapper text-left">
									<a href="{% url 'dashboard:panel' %}" title="" class="loginbtn btn btn-scheme-light btn-scheme-hover-light btn-style-round btn-shape-rectangle btn-size-small">داشبورد کاربری</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>