{% extends "apps/dashboard/templates/dashboard/layout.html" %}
{% load static %}
{% block content %}

<link href="{% static 'css/tickets.css'%}" rel="stylesheet" />
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">

    <h3>تیکت‌ها</h3>
    <br>
    <table class="table table-striped jambo_table bulk_action">
      <thead>
        <tr>
          <th>تیکت</th>
          <th>عنوان</th>
          <th>وضعیت</th>
          <th>بخش</th>
          <th>ایجاد شده در</th>
          <th>آخرین به روز رسانی</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
        <tr>
          <td><a href="/ticket/{{ticket.id}}">{{ticket.id}}</td>
          <td><a href="/ticket/{{ticket.id}}">{{ticket.title}}</td>
          <td><a href="/ticket/{{ticket.id}}">{{ticket.status}}</td>
          <td><a href="/ticket/{{ticket.id}}">{{ticket.assignee}}</td>
          <td><a href="/ticket/{{ticket.id}}">{{ticket.jEntryDate}}</td>
          <td><a href="/ticket/{{ticket.id}}">{{ticket.jUpdateDate}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>




  </div>
</div>

<!-- /page content -->
{% endblock %}
{% block scriptsFiles %}
{% endblock%}
{% block scripts %}
{% endblock %}