{% load static %}
<style>
  /* Style the tab */
  .tab,
  .tab2 {
    overflow: hidden;
  }

  /* Style the buttons inside the tab */
  .tab button {
    text-align: center;
    background-color: transparent !important;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab2 button {
    text-align: center;
    background-color: transparent !important;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }


  /* Style the tab content */
  .tabcontent,
  .tabcontent2 {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
</style>
<link href="{% static 'css/js_composer_tta.min.css' %}" rel="stylesheet">

<div data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_column-gap-10 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">

  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid">

          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element">
                  <div class="wpb_wrapper">

                    <div id="Amirreza" class="tabcontent2" style="display:block !important;">

                      <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div class="wpb_single_image wpb_content_element vc_align_left">

                                <figure class="wpb_wrapper vc_figure">
                                  <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_img-placeholder vc_single_image-img" src="{% static 'images/Mask Group 1.png' %}"></div>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                                <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs"> </div>

                                <div class="liner-continer">
                                  <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l"> آموزش و پشتیبانی</h4>
                                </div>

                                <!-- <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-xs"> مدیر محصول</div> -->
                                <br>
                                <p>پیاده سازی و استفاده از سرویس‌های داده محوری، نیاز به ایجاد یک فرهنگ سازمانی داده محور نیز دارد. مدیران بخش‌ها و تمام پرسنلی که به طور مستقیم یا غیر مستقیم با تغییرات حاصل از داده محوری درگیر هستند، باید چرایی و
                                  چگونگی تغییر را بدانند و آماده استفاده از آن باشند. این آمادگی، بخش‌های کلی (مانند تغییر در فرآِیندهایی که مدت طولانی از آن‌ها استفاده می‌شد) تا جزئی (مانند نحوه استفاده از سرویس نرم‌افزاری داده محوری و ورود داده ها)
                                  را در برمی‌گیرد. به همین جهت، کی‌بان سرویس آموزشی جامعی برای تیم شما در نظر گرفته است که آمادگی لازم را برای تغییرات ایجاد شده کسب کرده و تمامی موارد مورد نیاز برای استفاده از نرم‌افزار داده محوری را آموزش ببینند.
                                  همچنین در تمامی مراحل استفاده از سرویس‌های کی‌بان، راه‌های مختلفی برای پشتیبانی از درخواست‌ها و ارائه خدمات بیشتر به شما در نظر گرفته شده است. در صورت وجود هرگونه ابهام پیش از خرید پکیج ها، پیشنهاد می‌کنیم تا در قدم
                                  اول، قسمت سوالات متداول را مطالعه بفرمایید و اگر این بخش، پاسخگوی نیاز شما نبود، با تلفن پشتیبانی پیش از خرید تماس بگیرید. پس از خرید سرویس‌ها نیز، در پنل شما بخشی با عنوان «درخواست پشتیبانی» وجود دارد که می‌توانید
                                  تمام سؤالات خود را در قالب تیکت برای ما ارسال کنید. کارشناسان ما، در سریعترین زمان ممکن به درخواست شما پاسخ می‌دهند.
                                  درصورتی که نیازمند پشتیبانی تخصصی (درخواست کمک برای ورود اطلاعات، آموزش پرسنل، شخصی سازی پنل کاربری و گزارشات و داشبوردها و ...) باشید، درخواست خود را مطابق دسته بندی‌های ارائه شده در قسمت «درخواست پشتیبانی» در پنل
                                  کاربری ثبت بفرمایید تا کارشناسان ما با شما تماس گرفته و راهکارهای مناسب را به شما ارائه دهند.
                                </p>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="MoEr" class="tabcontent2">

                      <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div class="wpb_single_image wpb_content_element vc_align_left">

                                <figure class="wpb_wrapper vc_figure">
                                  <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_img-placeholder vc_single_image-img" src="{% static 'images/BPR.png' %}"></div>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                                <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs"> </div>

                                <div class="liner-continer">
                                  <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l">بازطراحی فرایند های کسب و کار</h4>
                                </div>

                                <!-- <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-xs"> تحلیلگر داده</div> -->
                                <br>
                                <p>تنها افزودن ابزارهای دیجیتال، به فرآیندهای قدیمی کافی نیست؛ بلکه لازم است تا فرآیندهای کسب و کار نیز، اصلاح شوند. آن زمان است که تحول حقیقی شروع می‌شود. کی‌بان برای این مسئله نیز، راه‌حلی دارد؛ به اینصورت که با
                                  ترسیم و تشریح فرآیندهای عملیاتی هر واحد از کسب و کار شما، آن را بازطراحی و برای استقرار سرویس نرم‌افزاری، اجرایی می‌کند.
                                  در صورت درخواست شما برای استفاده از این سرویس، کارشناسان تیم کی‌بان، کار را از مصاحبه و گفتگو با مدیران اجرایی هر بخش آغاز می‌کنند. در انتهای این جلسات، فرآیندهای عملیاتی شما شناسایی و مستند می‌گردد. در مرحله بعد،
                                  فرآیندهای شما در کی‌بان به صورت بهینه برای داده‌محوری بازطراحی و مجدداً مستند می‌شود. بسته به ابعاد سازمان و یا پیچیدگی‌های فرآیندی، این پروژه به زمان متفاوتی نیاز دارد. در انتها اما، هر دو نسخه از فرآیندهای کاری
                                  قدیمی و جدید، به همراه ارائه دستورالعمل برای پیاده‌سازی آن‌ها برای شما ارسال می‌شوند.
                                </p>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="Hossein" class="tabcontent2">

                      <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div class="wpb_single_image wpb_content_element vc_align_left">

                                <figure class="wpb_wrapper vc_figure">
                                  <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_img-placeholder vc_single_image-img" src="{% static 'images/customized.png' %}"></div>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                                <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs"> </div>

                                <div class="liner-continer">
                                  <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l"> هوش کسب و کار شخصی سازی شده</h4>
                                </div>

                                <!-- <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-xs"> توسعه دهنده</div> -->
                                <br>
                                <p>ارزشمندی داده ها، زمانی مشخص می‌شود که به استخراج اطلاعات سودمند برای کسب و کار ختم شود. اطلاعاتی که مشخص کنند: وضعیت فعلی کسب و کار چگونه است؟ و وضعیت آن به چه سمتی در حال حرکت است؟ درست مانند خودرو که اطلاعات
                                  ضروری مورد نیاز در حین رانندگی را برای شما نمایش می‌دهد،لازم است تا در حین هدایت فرمان کسب و کار نیز، وضعیت بخش‌های مختلف آن به صورت بصری، ساده اما کاربردی برای شما مشخص باشد. تمام این اطلاعات به کمک شاخص‌های عملکردی
                                  مناسب قابل رؤیت است.
                                  در سرویس هوش کسب و کار اختصاصی کی‌بان، شاخص‌های کلیدی عملکرد مطابق با نیاز و اولویت‌های کسب و کار شما طراحی و در داشبورد مدیریتی ایجاد شده در نرم‌افزار MS Power BI برای شما بصری سازی می‌شود. تمامی شاخص ها، چیدمان و
                                  نحوه بصری سازی آن‌ها در داشبورد مدیریتی، مطابق با درخواست و نیاز شما خواهد بود. برای درخواست این سرویس، از قسمت «درخواست پشتیبانی» در پنل کاربری اقدام فرمایید.
                                </p>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div id="Mehrnoosh" class="tabcontent2">
                      <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div class="wpb_single_image wpb_content_element vc_align_left">

                                <figure class="wpb_wrapper vc_figure">
                                  <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_img-placeholder vc_single_image-img" src="{% static 'images/online tools.png' %}"></div>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                          <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                              <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                                <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs"> </div>

                                <div class="liner-continer">
                                  <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l">ابزارات آنلاین</h4>
                                </div>

                                <!-- <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-xs">طراح Ui-Ux</div> -->
                                <br>
                                <p>برای استفاده از سرویس کی‌بان، نیاز به نصب هیچگونه نرم‌افزاری ندارید. این سرویس به صورت ابری، برای حساب کاربری شما ایجاد می‌شود و از طریق آن می‌توانید داده‌های عملیاتی کسب و کار خود را وارد کرده و از طریق پنل کاربری،
                                  به انواع داشبوردهای مدیریتی و گزارشدهی موجود در پکیج خود دسترسی داشته باشید. </p>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tab2">
                      <button class="tablinks2" onclick="openCity2(event, 'Amirreza')"><img width="75px" height="75px" src="{% static 'images/Mask Group 1.png' %}" alt=""></button>
                      <button class="tablinks2" onclick="openCity2(event, 'MoEr')"> <img width="75px" height="75px" src="{% static 'images/BPR.png' %}" alt=""></button>
                      <button class="tablinks2" onclick="openCity2(event, 'Hossein')"> <img width="75px" height="75px" src="{% static 'images/customized.png' %}" alt=""></button>
                      <button class="tablinks2" onclick="openCity2(event, 'Mehrnoosh')"> <img width="75px" height="75px" src="{% static 'images/online tools.png' %}" alt=""></button </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'js/vc-tta-autoplay.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vc-accordion.min.js' %}"></script>
  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    function openCity2(evt2, cityName2) {
      var i, tabcontent2, tablinks2;
      tabcontent2 = document.getElementsByClassName("tabcontent2");
      for (i = 0; i < 4; i++) {
        tabcontent2[i].style.display = "none";
      }
      tablinks2 = document.getElementsByClassName("tablinks2");
      for (i = 0; i < 4; i++) {
        tablinks2[i].className = tablinks2[i].className.replace(" active", "");
      }
      document.getElementById(cityName2).style.display = "block";
      evt2.currentTarget.className += " active";
    }
  </script>