{% include "apps/templates/base/headerwhite.html" %}

{% load static %}

<link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<style media="screen">
  .fa-linkedin-square {

    color: gray;
    font-size: 48px
  }

  .fa-linkedin-square:hover {

    color: #D88181;
    font-size: 48px
  }
</style>
<link href="{% static 'css/js_composer_tta.min.css' %}" rel="stylesheet">
<div class="row content-layout-wrapper align-items-start">
  <div class="site-content col-lg-12 col-12 col-md-12" role="main">
    <article id="post-6027" class="post-6027 page type-page status-publish hentry">
      <div class="entry-content">

        <div class="vc_row-full-width vc_clearfix"></div>

        <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
          style="background-image: url({% static 'images\aboutus.png' %}) !important;background-position: center !important;background-repeat: no-repeat !important; height:100vh;" class="vc_row wpb_row vc_row-fluid vc_row-has-fill">
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="wd-62ad998f38512" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-center ">

                  <div class="liner-continer">
                    <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-xxxl">درباره ما</h4>
                  </div>


                </div>

              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
        </div>


        <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
          style="background-image: url({% static 'images\rightgray.png' %}) !important;background-position: top !important;background-repeat: no-repeat !important; background-position:cover !important;"
          class="vc_row wpb_row vc_row-fluid vc_row-has-fill">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">

                <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <div class="vc_tta-container" data-vc-action="collapse">
                              <div class="vc_general vc_tta vc_tta-tabs vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-spacing-1 vc_tta-tabs-position-top vc_tta-controls-align-center">
                                <div class="vc_tta-tabs-container">
                                  <ul class="vc_tta-tabs-list">
                                    <li class="vc_tta-tab vc_active" data-vc-tab=""><a href="#1655546941281-c2684e2f-3c13" data-vc-tabs="" data-vc-container=".vc_tta"><span class="vc_tta-title-text">ماموریت </span></a></li>
                                    <li class="vc_tta-tab" data-vc-tab=""><a href="#1655546941296-f3a24336-9d5f" data-vc-tabs="" data-vc-container=".vc_tta"><span class="vc_tta-title-text">چشم&zwnj;انداز</span></a></li>
                                    <li class="vc_tta-tab" data-vc-tab=""><a href="#1655546946928-c8e3a0b4-1bda" data-vc-tabs="" data-vc-container=".vc_tta"><span class="vc_tta-title-text">تاریخچه</span></a></li>
                                  </ul>
                                </div>

                                <div class="vc_tta-panels-container">
                                  <div class="vc_tta-panels" style="background:transparent !important; border:transparent !important;">
                                    <div class="vc_tta-panel vc_active" id="1655546941281-c2684e2f-3c13" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title"><a href="#1655546941281-c2684e2f-3c13" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">ماموریت </span></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                          کاربردهای
                                          متنوع
                                          با هدف
                                          بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                                          فرهنگ
                                          پیشرو در
                                          زبان
                                          فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
                                          طراحی
                                          اساسا
                                          مورد
                                          استفاده قرار گیرد.</p>
                                      </div>
                                    </div>
                                    <div class="vc_tta-panel" id="1655546941296-f3a24336-9d5f" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title"><a href="#1655546941296-f3a24336-9d5f" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">چشم&zwnj;انداز</span></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                          کاربردهای
                                          متنوع
                                          با هدف
                                          بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                                          فرهنگ
                                          پیشرو در
                                          زبان
                                          فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
                                          طراحی
                                          اساسا
                                          مورد
                                          استفاده قرار گیرد.</p>
                                      </div>
                                    </div>
                                    <div class="vc_tta-panel" id="1655546946928-c8e3a0b4-1bda" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title"><a href="#1655546946928-c8e3a0b4-1bda" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">تاریخچه</span></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                          کاربردهای
                                          متنوع
                                          با هدف
                                          بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                                          فرهنگ
                                          پیشرو در
                                          زبان
                                          فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
                                          طراحی
                                          اساسا
                                          مورد
                                          استفاده قرار گیرد.</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">

                        <div class="wpb_single_image wpb_content_element vc_align_left">

                          <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="738" height="658" src="{% static 'images/objabout.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy"
                                title="31Z_2104.w013.n001.432B.p30.432 [Converted] copy" sizes="(max-width: 738px) 100vw, 738px"></div>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>


          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>

                  <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-xxl">تیم کی‌بان</h4>
                  <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>


                  <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                              <div class="vc_tta-container" data-vc-action="collapse">
                                <div class="vc_general vc_tta vc_tta-tabs vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-spacing-1 vc_tta-tabs-position-top vc_tta-controls-align-center">


                                  <div class="vc_tta-panels-container">
                                    <div class="vc_tta-panels" style="background:transparent !important; border:transparent !important;">
                                      <div class="vc_tta-panel vc_active" id="1655546941281-c2684e2f-3c13" data-vc-content=".vc_tta-panel-body">
                                        <div class="vc_tta-panel-heading">
                                          <h4 class="vc_tta-panel-title"><a href="#1655546941281-c2684e2f-3c13" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">ماموریت </span></a></h4>
                                        </div>
                                        <div class="vc_tta-panel-body">

                                          <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                              <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                  <div class="wpb_single_image wpb_content_element vc_align_left">

                                                    <figure class="wpb_wrapper vc_figure">
                                                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_img-placeholder vc_single_image-img" src="{% static 'images/teammember.png' %}"></div>
                                                    </figure>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                              <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                  <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                                                    <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs">عنوان مثالی</div>

                                                    <div class="liner-continer">
                                                      <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l">عنوان اصلی</h4>
                                                    </div>

                                                    <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-xs">اندکی توضیحات</div>
                                                    <br>
                                                    <a href="#/linkedin-square"><i class="fa fa-linkedin-square"></i></a>
                                                  </div>

                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                      <div class="vc_tta-panel" id="1655546941296-f3a24336-9d5f" data-vc-content=".vc_tta-panel-body">
                                        <div class="vc_tta-panel-heading">
                                          <h4 class="vc_tta-panel-title"><a href="#1655546941296-f3a24336-9d5f" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">چشم&zwnj;انداز</span></a></h4>
                                        </div>
                                        <div class="vc_tta-panel-body">

                                          <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                              <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                  <div class="wpb_single_image wpb_content_element vc_align_left">

                                                    <figure class="wpb_wrapper vc_figure">
                                                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_img-placeholder vc_single_image-img" src="{% static 'images/teammember.png' %}"></div>
                                                    </figure>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                              <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                  <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                                                    <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs">عنوان مثالی</div>

                                                    <div class="liner-continer">
                                                      <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l">عنوان اصلی</h4>
                                                    </div>

                                                    <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-xs">اندکی توضیحات</div>
                                                    <br>
                                                    <a href="#/linkedin-square"><i class="fa fa-linkedin-square"></i></a>
                                                  </div>

                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                      <div class="vc_tta-panel" id="1655546946928-c8e3a0b4-1bda" data-vc-content=".vc_tta-panel-body">
                                        <div class="vc_tta-panel-heading">
                                          <h4 class="vc_tta-panel-title"><a href="#1655546946928-c8e3a0b4-1bda" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">تاریخچه</span></a></h4>
                                        </div>
                                        <div class="vc_tta-panel-body">

                                          <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                              <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                  <div class="wpb_single_image wpb_content_element vc_align_left">

                                                    <figure class="wpb_wrapper vc_figure">
                                                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_img-placeholder vc_single_image-img" src="{% static 'images/teammember.png' %}"></div>
                                                    </figure>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                              <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                  <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                                                    <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs">عنوان مثالی</div>

                                                    <div class="liner-continer">
                                                      <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l">عنوان اصلی</h4>
                                                    </div>

                                                    <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-xs">اندکی توضیحات</div>
                                                    <br>
                                                    <a href="#/linkedin-square"><i class="fa fa-linkedin-square"></i></a>
                                                  </div>

                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="vc_tta-tabs-container">
                                    <ul class="vc_tta-tabs-list">
                                      <li class="vc_tta-tab vc_active" data-vc-tab=""><a href="#1655546941281-c2684e2f-3c13" data-vc-tabs="" data-vc-container=".vc_tta"><img width="75px" height="75px" src="{% static 'images/teammember.png' %}"
                                            alt=""></a></li>
                                      <li class="vc_tta-tab" data-vc-tab=""><a href="#1655546941296-f3a24336-9d5f" data-vc-tabs="" data-vc-container=".vc_tta"><img width="75px" height="75px" src="{% static 'images/teammember.png' %}" alt=""></a></li>
                                      <li class="vc_tta-tab" data-vc-tab=""><a href="#1655546946928-c8e3a0b4-1bda" data-vc-tabs="" data-vc-container=".vc_tta"><img width="75px" height="75px" src="{% static 'images/teammember.png' %}" alt=""></a></li>
                                    </ul>
                                  </div>

                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>





        <div class="vc_row-full-width vc_clearfix"></div>




        {% include "apps/home/templates/home/contactform.html" %}





        <div class="vc_row-full-width vc_clearfix"></div>
      </div>



    </article><!-- #post -->
  </div><!-- .site-content -->
</div>

<script type="text/javascript" src="{% static 'js/vc-tabs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vc-tta-autoplay.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vc-accordion.min.js' %}"></script>
{% include "apps/templates/base/footer.html" %}