{% include "apps/templates/base/headerwhite.html" %}

{% load static %}
<div class="row content-layout-wrapper align-items-start">
  <div class="site-content col-lg-12 col-12 col-md-12" role="main">
    <article id="post-6027" class="post-6027 page type-page status-publish hentry">
      <div class="entry-content">

        <div class="vc_row-full-width vc_clearfix"></div>

        <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
          style="background-image: url({% static 'images/contact.png' %}) !important;background-position: center !important;background-repeat: no-repeat !important; height:100vh;" class="vc_row wpb_row vc_row-fluid vc_row-has-fill">
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="wd-62ad998f38512" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-center ">

                  <div class="liner-continer">
                    <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-xxxl">تماس با ما</h4>
                  </div>


                </div>

              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
        </div>



        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">

                <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-xxxl">با کی‌بان همراه شوید</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="wpb_column vc_column_container vc_col-sm-12 wd-alignment-left">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="vc_row wpb_row vc_inner vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-12 text-center wd-rs-628b644eebb88">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <link rel="stylesheet" id="wd-list-css" href="https://ilkan.co/wp-content/themes/woodmart/css/parts/el-list-rtl.min.css?ver=6.3.2" type="text/css" media="all" />
                      <ul class=" wd-rs-628b6ee026729 wd-list wd-wpb color-scheme- wd-fontsize-xs wd-list-type-icon wd-list-style-default wd-justify-right listfoot " id="wd-628b6ee026729">
                        <li>
                          <span class="list-icon fas fa-map-marker-alt"></span>
                          <span class="list-content">تهران، ونک، خیابان ملاصدرا، بین شیراز و شیخ بهایی، پلاک 162 ، واحد 3</span>
                          <a class="wd-fill" href="https://goo.gl/maps/stJg2BzPxzZWM9Db7" title="" aria-label="لینک لیست"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6 text-center wd-rs-628b645774081">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <ul class=" wd-rs-629f8f6bea807 wd-list wd-wpb color-scheme- wd-fontsize-xs wd-list-type-icon wd-list-style-default wd-justify-right listfoot " id="wd-629f8f6bea807">
                        <li>
                          <span class="list-icon far fa-envelope"></span>
                          <span class="list-content">info@keybaan.com</span>
                          <a class="wd-fill" href="mailto: info@ilkan.co" title="" aria-label="لینک لیست"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6 text-center wd-rs-628b645403616">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <ul class=" wd-rs-628b6eef5b00c wd-list wd-wpb color-scheme- wd-fontsize-xs wd-list-type-icon wd-list-style-default wd-justify-right listfoot " id="wd-628b6eef5b00c">
                        <li>
                          <span class="list-icon fas fa-phone"></span>
                          <span class="list-content">021-91307203</span>
                          <a class="wd-fill" href="tel:00982191307203" title="" aria-label="لینک لیست"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>



        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid  vc_column-gap-10 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">

          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <d iv class="vc_row wpb_row vc_inner vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                          <div class="wpb_wrapper">

                            <input placeholder="ایمیل" type="text" class="form-control" name="text-1654619322539" access="false" id="text-1654619322539">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                          <div class="wpb_wrapper">

                            <input placeholder="نام" type="text" class="form-control" name="text-1654619322538" access="false" id="text-1654619322538">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                          <div class="wpb_wrapper">

                            <textarea placeholder="توضیحات شما" type="textarea" class="form-control" name="textarea-1654619413301" access="false" id="textarea-1654619413301">
        </textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                          <div class="wpb_wrapper">
                            <button type="button" class="btn-default btn" name="button-1654619463454" access="false" style="default" id="button-1654619463454">درخواست مشاوره</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="neshan_map" id="neshan_map_27" style="width: 100%; height: 300px;">
                <div class="ol-viewport" style="position: relative; overflow: hidden; width: 100%; height: 100%; touch-action: none;" data-view="1"><canvas class="ol-unselectable" style="width: 100%; height: 100%; display: block;" width="728"
                    height="600"></canvas>
                  <div class="ol-overlaycontainer"></div>
                  <div class="ol-overlaycontainer-stopevent">
                    <div class="ol-zoom ol-unselectable ol-control"><button class="ol-zoom-in" type="button" title="Zoom in">+</button><button class="ol-zoom-out" type="button" title="Zoom out">−</button></div>
                  </div>
                  <div style="position: absolute; bottom: 8px; left: 15px; color: rgb(119, 119, 119); text-align: left; direction: ltr; font-family: Helvetica, Times, serif; font-size: 10px; z-index: 999999;"><a href="https://maps.neshan.org"
                      target="_blank"
                      style="text-decoration: none !important; color: #777 !important; border: none !important; padding: 0 !important; margin: 0 !important; -webkit-box-shadow: none !important;-moz-box-shadow: none !important ;box-shadow: none !important;"><img
                        src="https://static.neshan.org/sdk/images/neshan-platform-logo-v3.png"
                        style="margin: 0 !important; width: 53px !important; height: 20px !important; min-width: 53px !important; min-height: 20px !important; max-width: 53px !important; max-height: 20px !important; vertical-align: baseline !important;"></a><span
                      style="direction: ltr !important; margin: -1px auto 0 5px !important; display: inline-block !important; top: -4px !important; position: relative !important;"><a href="https://neshan.org" target="_blank"
                        style="font-size: 11px !important; text-decoration: none !important; border: none !important; -webkit-font-smoothing: antialiased; padding: 0 !important; margin: 0 !important; -webkit-box-shadow: none !important;-moz-box-shadow: none !important ;box-shadow: none !important;color: #777 !important;">©Neshan</a>
                      <a href="https://openstreetmap.org" target="_blank"
                        style="font-size: 11px !important; text-decoration: none !important; border: none !important; -webkit-font-smoothing: antialiased; padding: 0 !important; margin: 0 !important; -webkit-box-shadow: none !important;-moz-box-shadow: none !important ;box-shadow: none !important;color: #777 !important;">©OSM
                        Contributors</a></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="vc_row-full-width vc_clearfix"></div>
  </div>



  </article><!-- #post -->
</div><!-- .site-content -->
</div>
{% include "apps/templates/base/footer.html" %}