{% include "apps/templates/base/headerwhite.html" %}
{% load  resaneh_tags %}
{% load static %}
<div class="row content-layout-wrapper align-items-start">
  <div class="site-content col-lg-12 col-12 col-md-12" role="main">
    <article id="post-6027" class="post-6027 page type-page status-publish hentry">
      <div class="entry-content">

        <div class="vc_row-full-width vc_clearfix"></div>

        <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
          style="background-image: url({% static 'images/contact.png' %}) !important;background-position: center !important;background-repeat: no-repeat !important; height:100vh;" class="vc_row wpb_row vc_row-fluid vc_row-has-fill">
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="wd-62ad998f38512" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-center ">

                  <div class="liner-continer">
                    <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-xxxl">تماس با ما</h4>
                  </div>


                </div>

              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
        </div>



        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">

                <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-xxxl">با کی‌بان همراه شوید</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="wpb_column vc_column_container vc_col-sm-12 wd-alignment-left">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="vc_row wpb_row vc_inner vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-xs-12 text-center wd-rs-628b644eebb88">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <link rel="stylesheet" id="wd-list-css" href="https://ilkan.co/wp-content/themes/woodmart/css/parts/el-list-rtl.min.css?ver=6.3.2" type="text/css" media="all" />
                      <ul class=" wd-rs-628b6ee026729 wd-list wd-wpb color-scheme- wd-fontsize-xs wd-list-type-icon wd-list-style-default wd-justify-right listfoot " id="wd-628b6ee026729">
                        <li>
                          <span class="list-icon fas fa-map-marker-alt"></span>
                          <span class="list-content">تهران، ونک، خیابان ملاصدرا، بین شیراز و شیخ بهایی، پلاک 162 ، واحد 3</span>
                          <a class="wd-fill" href="https://goo.gl/maps/stJg2BzPxzZWM9Db7" title="" aria-label="لینک لیست"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6 text-center wd-rs-628b645774081">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <ul class=" wd-rs-629f8f6bea807 wd-list wd-wpb color-scheme- wd-fontsize-xs wd-list-type-icon wd-list-style-default wd-justify-right listfoot " id="wd-629f8f6bea807">
                        <li>
                          <span class="list-icon far fa-envelope"></span>
                          <span class="list-content">info@keybaan.com</span>
                          <a class="wd-fill" href="mailto: info@ilkan.co" title="" aria-label="لینک لیست"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6 text-center wd-rs-628b645403616">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <ul class=" wd-rs-628b6eef5b00c wd-list wd-wpb color-scheme- wd-fontsize-xs wd-list-type-icon wd-list-style-default wd-justify-right listfoot " id="wd-628b6eef5b00c">
                        <li>
                          <span class="list-icon fas fa-phone"></span>
                          <span class="list-content">021-91307203</span>
                          <a class="wd-fill" href="tel:00982191307203" title="" aria-label="لینک لیست"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>

        {% contactform %}



      </div>




      <div class="vc_row-full-width vc_clearfix"></div>




    </article><!-- #post -->
  </div><!-- .site-content -->
</div>
{% include "apps/templates/base/footer.html" %}