<div class="wpb_column vc_column_container vc_col-sm-4">
    {% load static %}
  <div class="vc_column-inner">
    <div class="wpb_wrapper">
      <div id="wd-629f5d5af2b8a" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">

        <div class="liner-continer">
          <h4 class="titleright woodmart-title-container title  wd-font-weight- wd-fontsize-l">مشتریان ما</h4>
        </div>


      </div>

    </div>
  </div>
</div>
</div>
<div class="cuslogorow vc_row wpb_row vc_inner vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-1/5">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
  <div class="wpb_column cuslogo vc_column_container vc_col-sm-1/5 vc_col-has-fill">
    <div class="vc_column-inner vc_custom_1654611404973">
        <img src="{% static 'images/vision.png' %}">
      <div class="wpb_wrapper">
        <div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-1/5">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
  <div class="wpb_column cuslogo vc_column_container vc_col-sm-1/5 vc_col-has-fill">
    <div class="vc_column-inner vc_custom_1654611408878">
        <img src="{% static 'images/dorche.png' %}">
      <div class="wpb_wrapper">
        <div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-1/5">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid">
  <div class="wpb_column cuslogo vc_column_container vc_col-sm-1/5 vc_col-has-fill">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-1/5">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
  <div class="wpb_column cuslogo vc_column_container vc_col-sm-1/5 vc_col-has-fill">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">

      </div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-1/5">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
  <div class="wpb_column cuslogo vc_column_container vc_col-sm-1/5 vc_col-has-fill">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">

      </div>
    </div>
  </div>
</div>