{% include "apps/templates/base/headerwhite.html" %}
{% load static %}
<link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/js_composer_tta.min.css' %}" rel="stylesheet">
<div class="row content-layout-wrapper align-items-start">
  <div style="  background-position: top;  background-image: url(/static/images/leftgray.png) !important;" class="site-content col-lg-12 col-12 col-md-12" role="main">
    <article id="post-6027" class="post-6027 page type-page status-publish hentry">
      <div class="entry-content">

        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 200px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>


        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">

                <h3 style="text-align:center; font-size:48px;">سوالات متداول</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <style>
          .search-container {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
          }

          .search-container button {
            float: left;
            padding: 6px 10px;
            margin-right: 16px;
            font-size: 17px;
            border: none;
            cursor: pointer;
            left: 25%;
            border-radius: 20px;
            position: absolute;
            color: white !important;
            background: #D88181;
            height: 40px;
            width: 80px;
          }
        </style>
        <div class="search-container">
          <form>

            <button type="submit"><i class="fa fa-search"></i></button>
            <input style="background:white;" type="text" placeholder="جستجو.." name="search">
          </form>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>


        <div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_column-gap-30">
          <div class="wpb_column vc_column_container vc_col-sm-1/5">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
          <a href="#">
            <div class="wpb_column shdw vc_column_container vc_col-sm-1/5 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1655540951148">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_center">

                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="190" height="205" src="{% static '\images\cart.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="Image 2"></div>
                    </figure>
                    <h4 style="text-align:center; color:#D88181;">سوالات پیش از خرید</h4>
                  </div>

                </div>
              </div>
            </div>
          </a>
          <style media="screen">
            .shdw {
              box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.37);
              border-radius: 20px;
              height: 225px;
              margin-right: 20px;
              background: white;
              margin-top: 20px;
            }

            .vc_tta-panel-heading {
              background: #D88181 !important;
              border-radius: 20px !important;
              margin-bottom: 5px !important;
            }

            .vc_tta-panel-body {
              background: gray !important;

              border-radius: 20px !important;
              color: white !important;
            }

            .vc_tta-title-text {
              color: white !important;
            }
          </style>
          <a href="#">
            <div class="wpb_column shdw vc_column_container vc_col-sm-1/5 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1655540963568">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_center">

                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="190" height="205" src="{% static '\images\technical.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="Image 2"></div>
                    </figure>

                    <h4 style="text-align:center; color:#D88181;">سوالات فنی</h4>
                  </div>

                </div>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="wpb_column shdw vc_column_container vc_col-sm-1/5 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1655540977188">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_center">

                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="190" height="205" src="{% static '\images\general.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="Image 2"></div>
                    </figure>
                    <h4 style="text-align:center; color:#D88181;">سوالات عمومی</h4>
                  </div>

                </div>
              </div>
            </div>
          </a>
          <div class="wpb_column vc_column_container vc_col-sm-1/5">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
        </div>

        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-flex">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_tta-container" data-vc-action="collapse">
                  <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-o-shape-group vc_tta-controls-align-right">
                    <div class="vc_tta-panels-container">
                      <div class="vc_tta-panels">
                        <div class="vc_tta-panel vc_active" id="1655542536854-5410a5fa-bde3" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536854-5410a5fa-bde3" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">بخش 1</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                                  متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی،
                                  و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل
                                  دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_tta-panel" id="1655542536868-666419c3-6c57" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536868-666419c3-6c57" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">بخش 2</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                                  متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی،
                                  و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل
                                  دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </article><!-- #post -->
  </div><!-- .site-content -->
</div>

<script type="text/javascript" src="{% static 'js/vc-tta-autoplay.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vc-accordion.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js_composer_front.min.js' %}"></script>
{% include "apps/templates/base/footer.html" %}