{% include "apps/templates/base/headerwhite.html" %}
{% load static %}
<link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/js_composer_tta.min.css' %}" rel="stylesheet">
<div class="row content-layout-wrapper align-items-start">
  <div style="  background-position: top;  background-image: url(/static/images/leftgray.png) !important;" class="site-content col-lg-12 col-12 col-md-12" role="main">
    <article id="post-6027" class="post-6027 page type-page status-publish hentry">
      <div class="entry-content">

        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 200px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>


        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">

                <h3 style="text-align:center; font-size:48px;">سوالات متداول</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <style>
          .search-container {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
          }

          .search-container button {
            float: left;
            padding: 6px 10px;
            margin-right: 16px;
            font-size: 17px;
            border: none;
            cursor: pointer;
            left: 25%;
            border-radius: 20px;
            position: absolute;
            color: white !important;
            background: #D88181;
            height: 40px;
            width: 80px;
          }
        </style>
        <div class="search-container">
          <form>

            <button type="submit"><i class="fa fa-search"></i></button>
            <input style="background:white;" type="text" placeholder="جستجو.." name="search">
          </form>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>


        <div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_column-gap-30">
          <div class="wpb_column vc_column_container vc_col-sm-1/5">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
          <style media="screen">
            .shdw {
              box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.37);
              border-radius: 20px;
              height: 225px;
              margin-right: 20px;
              background: white;
              margin-top: 20px;
            }

            .vc_tta-panel-heading {
              background: #D88181 !important;
              border-radius: 20px !important;
              margin-bottom: 5px !important;
            }

            .vc_tta-panel-body {
              background: gray !important;

              border-radius: 20px !important;
              color: white !important;
            }

            .vc_tta-title-text {
              color: white !important;
            }
          </style>
          <a href="#">
            <div class="wpb_column shdw vc_column_container vc_col-sm-1/5 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1655540951148">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_center" style="margin-top:-50px;">

                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="190" height="205" src="{% static '\images\cart.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="Image 2"></div>
                    </figure>

                    <h4 style="text-align:center; color:#D88181;">سوالات پیش از خرید</h4>
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="wpb_column shdw vc_column_container vc_col-sm-1/5 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1655540963568">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_center">

                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="190" height="205" src="{% static '\images\technical.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="Image 2"></div>
                    </figure>

                    <h4 style="text-align:center; color:#D88181;">سوالات فنی</h4>
                  </div>

                </div>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="wpb_column shdw vc_column_container vc_col-sm-1/5 vc_col-has-fill">
              <div class="vc_column-inner vc_custom_1655540977188">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_center">

                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="190" height="205" src="{% static '\images\general.png' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="Image 2"></div>
                    </figure>
                    <h4 style="text-align:center; color:#D88181;">سوالات عمومی</h4>
                  </div>

                </div>
              </div>
            </div>
          </a>
          <div class="wpb_column vc_column_container vc_col-sm-1/5">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
        </div>

        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-flex">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_tta-container" data-vc-action="collapse">
                  <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-o-shape-group vc_tta-controls-align-right">
                    <div class="vc_tta-panels-container">
                      <div class="vc_tta-panels">
                        <div class="vc_tta-panel vc_active" id="1655542536854-5410a5fa-bde3" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536854-5410a5fa-bde3" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">	اصن «داده» توی کسب و کار ینی چی؟</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>هر اتفاق و رویدادی که توی فرآیند اصلی کسب و کار شما می افته تولید «داده» میکنه. این میتونه یه چیز خیلی مشخص مثل فروش یک کالا (چقدر؟ به چه قیمتی؟ با چه هزینه ای؟ چه زمان؟ برای کی؟ بهمراه چی؟ چند وقت یکبار؟ ) یا اتفاقات نامشخص مثل اتلافات (چرا؟ کی؟ چجوری؟ چقدر؟) باشه.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="vc_tta-panel" id="1655542536868-666419c3-6c57" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536868-666419c3-6c57" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">	سرویس «داده محوری» یعنی چی؟</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>در کل «داده محوری» یعنی اینکه تصمیم گیری های یه سازمان بر اساس داده باشه. حالا سرویس داده محوری، یعنی یه سیستم که روی فرآیندهای یه سازمان سوار بشه و بهش کمک کنه که ضمن جمع آوری و نگهداری اون داده ها، بتونه ازش اطلاعات کاربردی و استراتژیک استخراج کنه و شاخص های عملکردی رو به کمک اون کنترل کنه.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                                                <div class="vc_tta-panel" id="1655542536868-666419c3-6c571" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536868-666419c3-6c571" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text"> 	سرویس هوش کسب و کار و داده محوری برای چه کسب و کارهایی مناسبه؟</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>خیلی ساده بخوایم بگیم، هر کسب و کاری که «داده» در اون جریان داره، سرویس داده محوری هم به کارش میاد :) ولی بازم برای دریافت مشاوره، باهامون تماس بگیرید.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                                                                        <div class="vc_tta-panel" id="1655542536868-666419c3-6c572" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536868-666419c3-6c572" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">	داده های کسب و کار من چطور وارد سیستم کی بان میشن؟</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>سیستم برای شروع کار نیاز به داده اولیه داره، اگر داده های تمیز کسب و کارتون رو بصورت دیجیتالی جایی ثبت کرده باشین که خیلی راحت میتونید خروجی بگیرید و توی سیستم وارد کنید. (نگران نباشید، توی پنل کاربری راهنمایی تون می کنیم)
اگه هم که داده ای ثبت نکردید اشکال نداره، ماهی رو هر وقت از آب بگیرید تازه س. خوبیش اینه که از همون اول، اصولی و مرتب میتونید توی سیستم وارد کنید (راهنمای ورود اطلاعات هم توی پنل کاربری داریم)
ولی خب اگه به هر دلیل امکانش رو نداشتید که برای شروع کار، داده هاتون رو جمع آوری و وارد سیستم کنید، برای مشاوره باهامون تماس بگیرید تا به کمک هم انجامش بدیم.
</p>

                              </div>
                            </div>
                          </div>
                        </div>
                                                                        <div class="vc_tta-panel" id="1655542536868-666419c3-6c573" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536868-666419c3-6c573" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">	برای استفاده از کی‌بان، نیازه که چیزی رو روی سیستم های شرکتم نصب کنم؟</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>برای استفاده از این سرویس لازم نیست هیچ چیزی روی سیستم های خودتون یا سازمانتون نصب کنید. فقط یه دستگاه هوشمند (کامپیوتر یا موبایل) متصل به اینترنت میخواید.
البته برای مشاهده بهتر و استفاده از بعضی خدمات این سرویس، بهتره از کامپیوتر بجای موبایل استفاده کنید.
</p>

                              </div>
                            </div>
                          </div>
                        </div>
                                                                        <div class="vc_tta-panel" id="1655542536868-666419c3-6c574" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536868-666419c3-6c574" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">	داده های سازمان من توی کی بان در اختیار چه کسایی هست؟</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>ما ضمن قراردادی که با شما میبندیم، تعهد میدیم که داده های های کسب و کار شما توی کی بان، نزد همین تیم محفوظ میمونه و به هیچ عنوان شخص ثالثی بهش دسترسی نداره. ارائه سرویس داده محوری، لازمه‌ش اینه که داده ها در یک جایی جمع آوری بشه و اگر شما به کی بان برای اینکار اعتماد کنید، این اعتماد با ارزش ترین سرمایه ما محسوب میشه.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                                    <div class="vc_tta-panel" id="1655542536868-666419c3-6c575" data-vc-content=".vc_tta-panel-body">
                          <div class="vc_tta-panel-heading">
                            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1655542536868-666419c3-6c575" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text"> 	راه اندازی کی بان به چه صورته و کی میتونم ازش استفاده کنم؟</span><i
                                  class="vc_tta-controls-icon vc_tta-controls-icon-triangle"></i></a></h4>
                          </div>
                          <div class="vc_tta-panel-body">
                            <div class="wpb_text_column wpb_content_element">
                              <div class="wpb_wrapper">
                                <p>بسته به نوع سرویسی که خریداری می کنید، نحوه راه اندازی و زمان استفاده از اون هم فرق می کنه. ولی اگر فقط و فقط خود سرویس ساده رو خریداری کنید، توی همون روی میتونید ازش استفاده کنید و اگه داده های سازمانتون هم آماده ورود باشه، بازم توی همون روز تمام امکانات سرویس براتون قابل استفاده‌ هست.
 توی هر پکیج سعی کردیم براتون توضیح بدیم که روند راه اندازی چطوریه که خب با توجه به هر پکیج، زمان استفاده تمام و کمال از سرویس هم فرق میکنه.
</p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </article><!-- #post -->
  </div><!-- .site-content -->
</div>

<script type="text/javascript" src="{% static 'js/vc-tta-autoplay.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vc-accordion.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js_composer_front.min.js' %}"></script>
{% include "apps/templates/base/footer.html" %}