<div class="vc_row wpb_row vc_row-fluid vc_custom_1654333433831 vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-flex" style=" margin-top: -40px;">
  <div class="wpb_column vc_column_container vc_col-sm-8">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-4">
    <div class="vc_column-inner vc_custom_1654593350144">
      <div class="wpb_wrapper">
        <div id="wd-629b201376611" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-white wd-title-style-default wd-width-100 text-center ">
          <div class="liner-continer">
            <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-xl">کی‌بان، نگهبان پادشاهی کسب و کار شما</h4>
          </div>
          <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-s">کی‌بان، هر آنچه را برای ثبت، نگهداری و بهره گیری از داده های کسب و کارتان نیاز دارید برای شما فراهم می کند تا لحظه به لحظه از وضعیت کسب و کارتان با خبر باشید.
          </div>
        </div>
        <div id="myBtn" class="wd-button-wrapper text-center"><a class="requsetbtn btn btn-shape-rectangle btn-size-default">درخواست مشاوره</a>
        </div>
      </div>
    </div>
  </div>
</div>