<div class="vc_row wpb_row vc_row-fluid vc_custom_1654333433831 vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-flex" style=" margin-top: -40px;">
  <div class="wpb_column vc_column_container vc_col-sm-8">
    <div class="vc_column-inner">
      <div class="wpb_wrapper"></div>
    </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-4">
    <div class="vc_column-inner vc_custom_1654593350144">
      <div class="wpb_wrapper">
        <div id="wd-629b201376611" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-white wd-title-style-default wd-width-100 text-center ">
          <div class="liner-continer">
            <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-xl">شعار کی&zwnj;بان</h4>
          </div>
          <div class="title-after_title  set-cont-mb-s reset-last-child  wd-fontsize-s">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
            لازم است، و برای شرایط فعلی تکنولوژی مور
          </div>
        </div>
        <div id="wd-629b20401792f" class="wd-button-wrapper text-center"><a class="requsetbtn btn btn-shape-rectangle btn-size-default">درخواست مشاوره</a>
        </div>
      </div>
    </div>
  </div>
</div>