{% include "apps/templates/base/header.html" %}
{% load static%}
{% load  resaneh_tags %}
<style>
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 19239;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<div class="row content-layout-wrapper align-items-start">
  <div class="site-content col-lg-12 col-12 col-md-12" role="main">
    <article id="post-6027" class="post-6027 page type-page status-publish hentry">
      <div class="entry-content">


        <div style="background-image: url({% static '\images\ads.png' %}) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;"
          class="vc_row wpb_row vc_row-fluid  vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-flex" style=" margin-top: -40px;">

          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div id="wd-629b201376611" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-white wd-title-style-default wd-width-100 text-right ">
                  <div class="liner-continer">
                    <h1 class="woodmart-title-container title  wd-font-weight-" style="font-size:48px; padding: 50px;">صنعت تبلیغات</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>


        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12 col-md-12">
          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>عدم وجود زیرساخت داده‌ای مناسب، راه را برای استفاده هدفمند از اطلاعات ارزشمند در کسب و کار می‌بندد. کسب و کار هایی که هنوز بر موج چهارم انقلاب صنعتی سوار نشدند، داده‌های خود را عموماً یا ثبت نمی‌کند و یا ثبت آن‌ها را به صورت
                        کاغذی انجام می‌دهد. اولین راه‌حل از سرویس داده محوری کی‌بان، در راستای توسعه زیرساخت‌های سنتی موجود در صنعت تبلیغات محیطی ارائه شد. این سرویس، به کسب و کار های ارائه دهنده تبلیغات محیطی کمک می کند تا تمام داده هایی که در واحد
                        های مختلف سازمان وجود دارد را جمع آوری و از آن برای مدیریت بهتر رسانه ها استفاده کند. </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div id="myBtn" class="wd-button-wrapper text-center"><a style="background: #B20909;" class=" btn btn-color-default btn-style-default btn-shape-semi-round btn-size-default">درخواست مشاوره</a></div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper"></div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper"></div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3">
              <div class="vc_column-inner">
                <div class="wpb_wrapper"></div>
              </div>
            </div>
          </div>
        </div>


        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>



        {% include "apps/home/templates/home/pricing.html" %}



        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid backgray vc_custom_1654612056936 vc_row-has-fill vc_row-no-padding wd-bg-center-top">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper"></div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper"></div>
                    </div>
                  </div>

                  {% include "apps/home/templates/home/customers.html" %}




                  <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="wpb_single_image wpb_content_element vc_align_center">

                            <figure class="wpb_wrapper vc_figure">
                              <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="2056" height="690" src="https://keybaan.com/wp-content/uploads/2022/06/Group-6.png" class="vc_single_image-img attachment-full" alt="" loading="lazy"
                                  title="Group 6"
                                  srcset="https://keybaan.com/wp-content/uploads/2022/06/Group-6.png 2056w, https://keybaan.com/wp-content/uploads/2022/06/Group-6-300x101.png 300w, https://keybaan.com/wp-content/uploads/2022/06/Group-6-1024x344.png 1024w, https://keybaan.com/wp-content/uploads/2022/06/Group-6-768x258.png 768w, https://keybaan.com/wp-content/uploads/2022/06/Group-6-1536x515.png 1536w, https://keybaan.com/wp-content/uploads/2022/06/Group-6-2048x687.png 2048w"
                                  sizes="(max-width: 2056px) 100vw, 2056px" /></div>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="vc_row-full-width vc_clearfix"></div>




          {% contactform %}



          <div class="vc_row-full-width vc_clearfix"></div>
        </div>



        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <br>

            <div class="vc_row wpb_row vc_inner">

  {% contactform2 %}

              
            </div>
          </div>
</div>
    </article><!-- #post -->
  </div><!-- .site-content -->
</div>

{% include "apps/templates/base/footer.html" %}
<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>