{% include "apps/templates/base/header.html" %}
{% load static %}
{% load  resaneh_tags %}
<style>
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 19239;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<style>
  /* Style the tab */
  .tab3 {
    overflow: hidden;
  }

  .clicked {
    background-color: #D26868;
    color: white;
  }

  /* Style the buttons inside the tab */
  .tab3 button {
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }


  /* Style the tab content */
  .tabcontent3 {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
</style>
<link href="{% static 'css/js_composer_tta.min.css' %}" rel="stylesheet">

<div class="row content-layout-wrapper align-items-start">
  <div class="site-content col-lg-12 col-12 col-md-12" role="main">
    <article id="post-6027" class="post-6027 page type-page status-publish hentry">
      <div class="entry-content">



        <div style="background-image: url({% static '\images\556 [Converted] copy.png' %}) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;"
          class="vc_row wpb_row vc_row-fluid vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-flex" style=" margin-top: -40px;">
          <div class="wpb_column vc_column_container vc_col-sm-8">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner vc_custom_1654593350144">
              <div class="wpb_wrapper">
                <div id="wd-629b201376611" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-white wd-title-style-default wd-width-100 text-center ">
                  <div class="liner-continer">
                    <h4 class="woodmart-title-container title  wd-font-weight- " style="font-size:48px;">پکیج‌ها</h4>
                  </div>
                </div>
                <div id="myBtn2" class="wd-button-wrapper text-center"><a class="requsetbtn btn btn-shape-rectangle btn-size-default">درخواست مشاوره</a>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="vc_row-full-width vc_clearfix"></div>
        <div class="vc_row wpb_row vc_row-fluid ">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid ">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <h4>صنعت خود را انتخاب کنید</h4>
                <div class="vc_row wpb_row vc_row-fluid ">
                  <div style="text-align:right;" class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="tab3">
                          <button style="border-radius:10px; background-color:#FFDD6E;" class="tablinks3" onclick="openCity3(event, 'FandB')">کافه و رستوران</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="text-align:left;" class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="tab3">
                          <button style="border-radius:10px; background-color:#FFDD6E;" class="tablinks3" onclick="openCity3(event, 'OOH')">تبلیغات محیطی</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br><br>
        </div>


        <div id="FandB" class="tabcontent3" style="display:block !important;">
          <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">

            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                    <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs"> </div>

                    <div class="liner-continer">
                      <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l">صنعت کافه و رستوران</h4>
                    </div>
                    <br>
                    {% include "apps/home/templates/home/pricingFandB.html" %}

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="OOH" class="tabcontent3" style="">
          <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div id="wd-62ada978003a6" class="title-wrapper wd-wpb set-mb-s reset-last-child  wd-title-color-default wd-title-style-default wd-width-100 text-right ">
                    <div class="title-subtitle  subtitle-color-default font-default subtitle-style-default wd-font-weight- wd-fontsize-xs"> </div>

                    <div class="liner-continer">
                      <h4 class="woodmart-title-container title  wd-font-weight- wd-fontsize-l">صنعت تبلیغات محیطی</h4>
                    </div>
                    <br>
                    {% include "apps/home/templates/home/pricingOOH.html" %}

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 100px"><span class="vc_empty_space_inner"></span></div>
              </div>
            </div>
          </div>
        </div>
        {% include "apps/home/templates/home/partial/servicestag.html" %}

        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid backgray  vc_row-has-fill vc_row-no-padding wd-bg-center-top">
          <div class="vc_row-full-width vc_clearfix"></div>




          {% contactform %}




          <div class="vc_row-full-width vc_clearfix"></div>
        </div>


        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <br>

            <div class="vc_row wpb_row vc_inner">

              {% contactform2 %}


            </div>
          </div>
        </div>
    </article><!-- #post -->
  </div><!-- .site-content -->
</div>

{% include "apps/templates/base/footer.html" %}
<script>
  function openCity3(evt3, cityName3) {
    var i, tabcontent3, tablinks3;
    tabcontent3 = document.getElementsByClassName("tabcontent3");
    for (i = 0; i < 2; i++) {
      tabcontent3[i].style.display = "none";
    }
    tablinks3 = document.getElementsByClassName("tablinks3");
    for (i = 0; i < 2; i++) {
      tablinks3[i].className = tablinks3[i].className.replace(" active", "");
    }
    document.getElementById(cityName3).style.display = "block";
    evt3.currentTarget.className += " active";
  }
</script>
<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn2 = document.getElementById("myBtn2");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn2.onclick = function() {
    modal.style.display = "block";
  }
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>