{% extends "apps/dashboard/templates/dashboard/layout.html" %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/kamadatepicker.js' %}"></script>
<script src="{% static 'js/kamadatepicker.min.js' %}"></script>
<script src="{% static 'js/kamadatepicker.holidays.js' %}"></script>
<link href="{% static 'css/kamadatepicker.min.css'%}" rel="stylesheet" />
<link href="{% static 'css/forms.css'%}" rel="stylesheet" />
<div class="right_col" role="main">
  <div class="col-md-8 col-sm-8 col-xs-12">



    <h3> فرم ثبت ورود اقلام</h3>
    <form method="post" id="OutputsForm" class="boxed">
      {% csrf_token %}

      <br><br>
      <div class="row">
        {{ form.ProcurementID }}
      </div>
      <br><br>

      <div class="row">
        {{ form.TransferedQuantity }}
        <input class="col-md-4 col-sm-4 col-xs-6" type="radio" id="x" name="unit" value="x" checked="checked">
        <label class="unitcheck" for="x">واحد x</label>
        <input class="col-md-4 col-sm-4 col-xs-6" type="radio" id="y" name="unit" value="y">
        <label class="unitcheck" for="y">
          واحد فرعی
        </label>

      </div>
      <br><br>
      <div class="row">
        {{ form.TransferedDateJalali }}
      </div>
      <br><br>
      <div class="row">
        {{ form.TransfereeAgent }}
      </div>
      <br><br>
      <div class="row">
        {{ form.FromInventoryID }}
      </div>
      <br><br>
      <div class="row">
        <input class="col-md-8 col-sm-8 col-xs-12" type="submit" name="OutputsForm" form="OutputsForm" value="ثبت">
      </div>
    </form>




  </div>
  <script type="text/javascript">
    kamaDatepicker('TransferedDateJalali', {
      buttonsColor: "red",
      forceFarsiDigits: true
    });
  </script>
</div>

<!-- /page content -->
{% endblock %}
{% block scriptsFiles %}
{% endblock%}
{% block scripts %}
{% endblock %}