

.wd-product-countdown
{
	direction:ltr;
	text-align:right;
}
.wd-registration-page
{
	    background-color: #ffffff;
    padding: 17px;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}	

#wd-629b20401792f a{background-color:#a762fe ;border-color:#a762fe !important ;}#wd-629b20401792f a:hover{background-color:#8726ff ;border-color:#8726ff !important ;}#wd-629f4d44db016 a{background-color:#a762fe ;border-color:#a762fe !important ;}#wd-629f4d44db016 a:hover{background-color:#8726ff ;border-color:#8726ff !important ;}#wd-629f5f4645fd2 a{background-color:#5b5b5b ;border-color:#5b5b5b !important ;}#wd-629f5f4645fd2 a:hover{background-color:#a31212 ;border-color:#a31212 !important ;}#wd-629f5f596c484 a{background-color:#5b5b5b ;border-color:#5b5b5b !important ;}#wd-629f5f596c484 a:hover{background-color:#a31212 ;border-color:#a31212 !important ;}#wd-629f5f60e1285 a{background-color:#5b5b5b ;border-color:#5b5b5b !important ;}#wd-629f5f60e1285 a:hover{background-color:#a31212 ;border-color:#a31212 !important ;}
.packfeat{
    background: rgb(96,96,96);
    background: linear-gradient(45deg, rgba(96,96,96,1) 0%, rgba(167,13,0,1) 100%);
    border-radius:20px;
        z-index:10;
}

.shad{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
padding:20px;
}
.shad:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.lefte{
    border-radius:20px 20px 20px 20px;
    /* margin-right: -20px; */
}
.righte{
    border-radius: 20px 20px 20px 20px ;
    /* margin-left: -20px; */

}
.righte .btn{
    background-color:#A31212;
        box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.37);
}
.lefte .btn{
    background-color:#A31212;
        box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.37);
}
.packfeat .btn{
    background-color:#FECF7D;
    color:black !important;
        box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.37);
}
.cuslogo .vc_column-inner{
        border-radius:20px !important;
}
.backgray{
    background-position: inherit !important;
}
.hovcov .div:hover{
    mask-image: linear-gradient(black, transparent);
    background-color:#B4080850;
}
.gradback{
    background: rgb(231,231,231);
background: linear-gradient(45deg, rgba(231,231,231,1) 0%, rgba(238,238,238,0) 100%);
}
#text-1654619322538,#textarea-1654619413301,#text-1654619322539{
    background-color:white;
        box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.37);
        border-radius:5px;
}
#button-1654619463454{
    width:100%;
       background-color:#A31212;
        border-radius:5px;
}
.titleright{
	margin:20px !important;
}
.cuslogorow{
	margin-right:50px;
	margin-left:50px;
}
.vc_custom_1654333433831{background-image: url("../images/bg.png") !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}
.vc_custom_1654606113181{background-image: url("../images/bgland.png") !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1654612056936{background-image: url(https://keybaan.com/wp-content/uploads/2022/06/Group-7-e1654611223377.png?id=6057) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1654608408540{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1654608159121{background-position: center !important;background-repeat: no-repeat !important;background-size: contain !important;}.vc_custom_1654608175626{background-position: center !important;background-repeat: no-repeat !important;background-size: contain !important;}.vc_custom_1654608151496{background-position: center !important;background-repeat: no-repeat !important;background-size: contain !important;}.vc_custom_1654612110521{margin-top: 100px !important;margin-right: 100px !important;margin-bottom: 100px !important;margin-left: 100px !important;}.vc_custom_1654611404973{background-color: #FEFEFE !important; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}.vc_custom_1654611408878{background-color: #FEFEFE !important;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}.vc_custom_1654611419673{background-color: #FEFEFE !important;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}.vc_custom_1654611416155{background-color: #FEFEFE !important; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}.vc_custom_1654611412600{background-color: #FEFEFE !important; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
 .wpb_animate_when_almost_visible { opacity: 1; }
				.whb-top-bar .wd-dropdown {
	margin-top: 0px;
}

.vc_custom_1654593350144{padding-right: 20px !important;padding-left: 20px !important;}

.whb-top-bar .wd-dropdown:after {
	height: 10px;
}


.loginbtn{
	background-color:#D88181;
	border-radius:10px;
}
.vc_row.vc_row-o-full-height {
    min-height: 100vh !important;
}
.requsetbtn{
	background-color:#A762FE;
	border-radius:10px;
}

.whb-header-bottom .wd-dropdown {
	margin-top: 5px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 15px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -0px;
	height: calc(100% + 0px);
}


@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}

		.whb-sticked .whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}

		.whb-general-header-inner {
		height: 90px;
		max-height: 90px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}

		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}


	}

@media (max-width: 1024px) {
		.whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}

		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}

		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}


	}
